.img-preview {
    margin: 10px 0
}

.error {
    color: red
}

p.payment_module a.payu {
    background: #fbfbfb none;
    padding: 33px 40px 34px 20px;
    font-weight: bold;
}

p.payment_module a.payu_card {
    background: url('../img/payu_cards.png') 15px 33px no-repeat #fbfbfb;
}

p.payment_module a.payu_card {
    padding: 33px 40px 34px 170px;
}

p.payment_module a.payu:after, .payu-payment-credit-tile:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777777;
}

.payu-payment-credit-installment-tile:after, .payu-payment-credit-later-tile:after, .payu-payment-credit-later-twisto-tile:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 31px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777777;
}

p.payment_module a.payu:hover {
    background-color: #f6f6f6;
}

.img-preview img {
    max-width: 680px;
}

#payuAmountInfo {
    float: left;
}

#payuLogo {
    height: 60px;
    float: right;
}

#payMethods {
    clear: both;
    overflow: auto;
    margin-top: 20px;
}

.payMethod {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 3px;
    height: 88px;
    width: 140px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #ffffff;
}

.payMethodEnable:hover {
    background-color: #f9f9f9;
}

.payMethodActive {
    border-color: #438F29;
    background-color: #eeeeee;
}

.payMethod input[type="radio"] {
    display: none;
}

.payMethodImage {
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 7px auto;
}

.payMethod label {
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    padding: 0;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
}

.payMethodEnable label {
    cursor: pointer;
}

.payMethodImage img {
    max-width: 100%;
    max-height: 100%;
}

.payuConditions {
    margin: 20px 0;
    font-size: 10px;
}

.payuConditions label {
    font-size: 13px;
}

.payuConditions label a {
    font-weight: bold;
}

p.payment_module_17 {
    padding: 0;
    margin: 0;
}

p.payment_module_17 a.payu {
    display: block;
}

p.payment_module_17 a.payu img {
    margin-right: 10px;
    height: 70px;
    vertical-align: middle;
}

.payu-installment-price-listing {
    font-size: 12px;
}

.payu-installment-price-listing > p {
    font-size: 12px;
    display: inline-block;
}

.payment-option img[src*="payu_logo_small.png"],
.payment-option img[src*="payu_cards.png"]
{
    margin-top: -3px;
    margin-left: 3px;
}
@media only screen and (max-width: 390px) {
    .payment-option img[src*="payu_logo_small.png"],
    .payment-option img[src*="payu_cards.png"]
    {
        display: none;
    }
}

.payu-pay-image-16 {
    width: 50px;
    height: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
}

p.payment_module a.payu-payment-credit-tile {
    padding: 33px;
    background: #fbfbfb none;
}

.payu-widget-installments-mini, .payu-installment-cart-summary, .payu-widget-installments-mini-amount {
    font-size: 14px;
}

.payu-widget-installments-mini-separator {
    color: #777777;
}

.payu-installment-cart-summary {
    margin-left: 20px;
}

.payu-payment-credit-installment-tile, .payu-payment-credit-later-tile, .payu-payment-credit-later-twisto-tile {
    border: 1px solid #d6d4d4;
    background: #fbfbfb none;
    padding: 36px 40px 36px 31px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #333;
    cursor: pointer;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.payu-payment-credit-installment-tile:hover, .payu-payment-credit-later-tile:hover, .payu-payment-credit-later-twisto-tile:hover, p.payment_module a.payu-payment-credit-tile:hover {
    background: #f6f6f6 none;
}

.payu-separator-reset {
    position: absolute;
    left: 0;
    right: 0;
}

.payu-installment-panel {
    padding-bottom: 1.25em;
}

.payu-script-tag {
    display: none !important;
}

p.payment_module a.payu-widget-installments-mini {
    display: inline;
    border: 0px;
    padding: 0px;
}

.payu-payment-fieldset-1-6 {
    border: 1px solid #a6c307;
    margin: 0 2px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.payu-payment-legend-1-6 {
    width: 0;
}

.payu-payment-legend-1-6 .logo {
    display: inline-block;
    height: 30px;
    width: 70px;
    background: #ffffff url('../img/payu_logo_small.png') no-repeat center;
}

.payu-payment-fieldset-1-7 {
    border: 1px solid #a6c307;
    margin: 0 2px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.payu-payment-legend-1-7 {
    width: 0;
}

.payu-payment-legend-1-7 .logo {
    display: inline-block;
    height: 30px;
    width: 70px;
    background: #ffffff url('../img/payu_logo_small.png') no-repeat center;
}

.payu-marker-class {
    display: none;
}

body#checkout #payu-methods-grouped .additional-information {
    margin:0;
}

.payu-method-description {
    margin-left: 2.875rem;
    margin-top: 1.25rem;
}

.payu-checkout-installment {
    margin-bottom: -10px;
}

.payu-card-form-container {
    width: 380px;
    margin: 5px auto 15px;
}

.payu-card-container {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px 10px;
    border: 1px solid #428f29;
    background: rgba(66, 143, 41, 1);
    background: linear-gradient(135deg, rgba(53, 112, 33, 1) 0%, rgba(66, 143, 41, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#357021', endColorstr='#428f29', GradientType=1);
}

.payu-card-container div.aside {
    font-size: 14px;
    margin-bottom: 6px;
}

.payu-card-form {
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}

.card-details .expiration {
    width: 50%;
    float: left;
}
.card-details .cvv {
    width: 45%;
    float: right;
}
.payu-card-clearfix:before, .payu-card-clearfix:after {
    content: "";
    display: table;
}

.payu-card-clearfix:after { clear: both; }

.payu-card-clearfix {
    margin-top: 10px;
}

.payu-card-legend-container {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    overflow: auto
}
.payu-card-legend-container > div {
    float: left;
}
.payu-card-legend-container > .payu-card-legend-number {
    width: 220px;
    margin-left: 45px
}
.payu-card-legend-container > .payu-card-legend-valid {
    width: 85px
}
#secure-form {
    background-color: #F4F9F9;
    border-radius: 8px;
    padding: 10px;
}

.payu-read-more {
    cursor: pointer;
    text-decoration: underline;
}
.payu-more-hidden {
    display: none;
}

@media only screen and (max-width: 460px) {
    .payu-installment-cart-summary {
        display: block;
        margin-left: 0px;
        margin-top: 5px;
    }

    .payu-card-form-container {
        width: 100%;
        margin: 5px auto 15px;
    }
}
