.img-preview {
    margin: 10px 0
}

.error {
    color: red
}

p.payment_module a.payu {
    background: #fbfbfb none;
    padding: 33px 40px 34px 20px
}

p.payment_module a.payu img {
    margin-right: 10px;
}

p.payment_module a.payu:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777777;
}

p.payment_module a.payu:hover {
    background-color: #f6f6f6;
}
.img-preview img {
    max-width: 680px;
}

#payuAmountInfo {
    float: left;
}

#payuLogo {
    height: 60px;
    float: right;
}

#payMethods {
    clear: both;
    overflow: auto;
    margin-top: 20px;
}

.payMethod {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 3px;
    height: 88px;
    width: 140px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.payMethodEnable:hover {
    background-color: #f9f9f9;
}

.payMethodActive {
    border-color: #438F29;
    background-color: #eeeeee;
}

.payMethod input[type="radio"] {
    display: none;
}

.payMethodImage {
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 7px 0;
}

.payMethod label {
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    padding: 0;
    margin: 0 5px;
}

.payMethodEnable label {
    cursor: pointer;
}


.payMethodImage img {
    max-width: 100%;
    max-height: 100%;
}
.payuConditions {
    margin: 20px 0;
    font-size: 10px;
}
.payuConditions label {
    font-size: 13px;
}
.payuConditions label a {
    font-weight: bold;
}
